* {
  margin: 2% 5%;
  font: "courier new";
  position: static;
  z-index: 1;
  font-family: "Syne", sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.nav-item {
  border: 1px solid black;
  border-radius: 40px;
  margin-right: 0;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.nav-link:hover {
  color: white;
}

.about-resume {
  border: solid purple;
}

.title {
  font-family: "Krona One", sans-serif;
}

#scroll {
  width: 200px;
  margin: auto;
  padding: 20px 0;
}

#side-note {
  float: right;
  margin: 5% 0;
}

.intro {
  padding-bottom: 10%;
  padding-left: 0;
}

#projects {
  margin-top: 70%;
}

.btn-outline-dark {
  border-radius: 40px;
  width: 100px;
}

a {
  color: black;
  margin: 0;
}

a:hover {
  color: grey;
}

#design {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
  overflow-x: hidden;
}

.card {
  padding: 20px;
  margin: 40px 0;
  border-radius: 40px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.75);
}

.contacts {
  width: 300px;
  margin: 30px auto 0;
}

.contact-img {
  display: inline-block;
  margin: 0 50px;
  padding: 0;
  height: 40px;
  width: 40px;
}

#scroll-up {
  float: right;
  background-color: rgba(255, 255, 255, 0.75);
}

#scroll-up:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
}
